.positions {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

@media only screen and (max-width: 1010px) {
    [class="positions"] {
        flex-direction: column;
        min-width: 350px;
    }
}

.position {
    list-style-type: none;
    border: 1px solid black;
    margin: 10px;
    min-width: 320px;
}

.positionName {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 3px;
}

.techniques {
    list-style-type: none;
    padding-left: 0;
}

.techniques li:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.technique {
    padding: 2px;
}
